body {
	background-color:#080808;
}

.speed2 {
	font-size: 280px;

}

h1 {
	color:#e0e0e0;
}

p {
	color:#e0e0e0;
	font-family:Arial;
}

.speed_display {
	font-family:Arial;
	position:fixed;
	width:100%;
	text-align: center;
	top:50px;
}

.speed_label {
	color:#e0e0e0;
	font-family: Arial;
	font-size:2.5em;
	position:fixed;
	text-align:center;
	width:100%;
	top:300px;
}


.upper_left {
	font-size:7em;
	color: #D00000;
	font-family:Arial;
	position: absolute;
	top: 10px;
	left: 20px;
}

.upper_right {
	font-size: 7em;
	color: #D00000;
	font-family:Arial;
	position: absolute;
	top: 10px;
	right: 20px;
}

.brake_bar {
	border-style: solid;
	border-color:#e0e0e0;
	position:fixed;
	left:120px;
	top:100px;
	width:50px;
	height:300px;
	background-color: #e0e0e0;
}

.brake_bar_fill {
	background-color: #080808;
	height:40%;
	width:100%;
}

.brake_label {
	position:fixed;
	left:126px;
	top:400px;
}

.throttle_bar {
	border-style: solid;
	border-color:#e0e0e0;
	position:fixed;
	right:120px;
	top:100px;
	width:50px;
	height:300px;
	background-color: #e0e0e0;
}

.throttle_bar_fill {
	background-color:#080808;
	height:40%;
	width:100%;
}

.throttle_label {
	position:fixed;
	right:120px;
	top:400px;
}

.timer {
	position: absolute;
	left:200px;
	bottom: 10px;
}

#total_time{
	height: 100%;
	width: 100%;
	color: #e0e0e0;
	font-size: 5em;
	font-family: Arial;

}